/*
****************** Informaiton ******************
********** This Theme Made By TQniah ************
******** Web Site : Http//:www.tqniah.com *******
*************************************************
*************************************************
*/

/*--------------------------------------
*********** START RESET ***********
--------------------------------------*/

* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: none !important;
}

@font-face {
font-family: 'Tqniah-Cairo';
    src: url('fonts/Cairo-SemiBold.ttf');
    src: url('fonts/Cairo-Regular.ttf') format('woff'),
         url('fonts/Cairo-Light.ttf') format('truetype'),
         url('fonts/Cairo-Bold.ttf') format('truetype'),
         url('fonts/Cairo-Black.ttf') format('truetype'),
         url('fonts/JF-Flat-regular.svg#JF-Flat-regular') format('svg');
}
@font-face {
    font-family: 'Tqniah-Rsail';
    src: url('fonts/AD-Rsail.otf');
    src: url('fonts/AD-Rsail.otf') format('woff'),
         url('fonts/AD-Rsail.ttf') format('truetype'),
         url('fonts/JF-Flat-regular.svg#JF-Flat-regular') format('svg');
}

body {
    min-width: 320px;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #fff;
    color: #212121;
    direction: rtl;
    font: 14px 'Tqniah-Cairo', sans-serif;
    line-height: 1.6em;
	position: relative;
	
}
.Tqniah-title-font{
	font-family: 'Tqniah-Rsail';
}
.Tqniah-title-font h1{
	color: #fff;
	text-align: center;
	margin-bottom: 20px;
}
/** scroll-bar **/
::-webkit-scrollbar {
    width: 10px;
    height: 6px;
    background: #1a1a1a;
    border-radius: 0px;
}
::-webkit-scrollbar-thumb {
    background-color: #82b044;
    border: none;
}
.no-padding{
	padding: 0;
}
a {
    color: #df950d;
}

a:hover, a:focus {
    color: #212121;
}

a, a:hover, a:focus, button, label {
    text-decoration: none;
    cursor: pointer;
}

label {
    font-weight: 100;
}

::selection {
    background: #8bc34a;
    color: #fff;
}
#contactus, #testmonials, #imgslid, #products, #contenttop, #aboutus{
	overflow: hidden;
}
::-moz-selection {
    background: #8bc34a;
    color: #fff;
}

::-webkit-input-placeholder {
    color: #ccc;
	font-weight: bold;
	font-size: 16px;
    opacity: 1;
}
::-moz-placeholder {
    color: #ccc;
	font-weight: bold;
	font-size: 16px;
    opacity: 1;
}
:-ms-input-placeholder {
    color: #ccc;
	font-weight: bold;
	font-size: 16px;
    opacity: 1;
}
:-moz-placeholder {
    color: #ccc;
    opacity: 1;
	font-weight: bold;
	font-size: 16px;
}

input:not([type='submit']), select, textarea {
    padding: 6px 10px;
    display: block;
    width: 100%;
    height: 37px;
    background: #fff;
    color: #212121;
    font-weight: 100;
    margin-bottom: 10px;
    border-radius: 0;
    border: 1px solid #eaeaea;
}

input:not([type='submit']):focus, select:focus, textarea:focus {
    border-color: #8bc34a;
    box-shadow: 1px 0px 7px 1px rgb(123, 182, 54);
}

select {
    background: #fff url("../images/caret.png") no-repeat 10px center;
    background-size: 9px auto;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
}

option {
    padding: 0 10px;
    border: 0;
}

textarea {
    height: 120px;
    resize: none;
}

input[type="checkbox"], input[type="radio"] {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
}

button {
    background: transparent;
}

ul, ol {
    list-style-position: inside;
}

a, input, select, textarea, button,
.dropdown-menu {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
*{
	transition: all 1.4s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}
p.clearfix {
    margin-bottom: 0;
}

.no-padding {
    padding: 0 !important;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11 {
    float: right !important;
}

.text-align-right, .text-align-left {
    text-align: center;
}

/*--------------------------------------
*********** BTNS ***********
--------------------------------------*/

.btn {
    position: relative;
    padding: 8px 20px;
    border-radius: 0;
    border: 0;
}

.btn-sm {
    padding: 6px 10px;
}

.btn-block {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.right-fa {
    margin-left: 5px;
}

.left-fa {
    margin-right: 5px;
}

.btn-black {
    background: #212121;
    color: #fff !important;
}

.btn-gold {
    background: #df950d;
    color: #fff !important;
}

.color-black {
    color: #1f1f1f;
}

.color-gold {
    color: #df950d;
}

/*--------------------------------------
*********** BOX ***********
--------------------------------------*/

.div-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

.div-small-padding {
    padding-top: 30px;
    padding-bottom: 30px;
}

.border-bottom {
    border-bottom: 1px solid #e1e1e1;
}

/*--------------------------------------
*********** ANIMATION ***********
--------------------------------------*/

.animate-box {
    position: relative;
    opacity: 0;
    transition: all 1.4s ease-in-out;
    -o-transition: all 1.4s ease-in-out;
    -ms-transition: all 1.4s ease-in-out;
    -moz-transition: all 1.4s ease-in-out;
    -webkit-transition: all 1.4s ease-in-out;
}

.animate-box.animated {
    opacity: 1;
}

.animated {
    -webkit-animation-duration: 1.4s;
    animation-duration: 1.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.fadeInUp, .fadeInLeft, .fadeInRight {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp
}

/***/

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/***/

@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/*--------------------------------------
*********** LOADER ***********
--------------------------------------*/

.pre-load {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #82b044;
    z-index: 99999999999999999999999999999;
    text-align: center;
}

.pre-load img {
    position: absolute;
    top: 50%;
    right: 50%;
    width: 100px;
	height: 100px;
    margin: -32px -32px 0 0;
}

/*--------------------------------------
*********** NAV ***********
--------------------------------------*/

nav.navbar {
    border: 0;
    margin: 0;
    border-radius: 0;
    background-color: transparent;
    z-index: 999;
    width: 100%;
}

.nav > li > a {
    background-color: transparent !important;
    position: relative;
    color: #212121;
    font-size: 16px;
    padding: 5px;
    color: #fff;
    border-radius: 10px;
    margin: 0 5px;
    font-weight: bolder;
}

.nav > li > a:hover, .nav > li.active > a {
    color: #8bc34a;
    border-color: #fff;
    border-radius: 0;
}

.navbar-toggle {
    padding: 0;
    color: #df950d;
    margin: 15px;
    float: left;
    font-size: 20px;
}

.navbar-brand {
    float: right;
    height: auto;
    padding: 10px;
}

.navbar-brand img {
    height: 70px;
}

.dropdown-menu {
    text-align: center;
    border-radius: 0;
    border: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
    padding: 0;
    z-index: -1;
    opacity: 0;
    transform: translateY(15px);
    -o-transform: translateY(15px);
    -ms-transform: translateY(15px);
    -moz-transform: translateY(15px);
    -webkit-transform: translateY(15px);
}
.title h3{
    text-align: center;
    font-weight: bold;
}
.title {
    padding-top: 90px;
}
.title  h3 span{
    border-bottom: 1px solid #339cff;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
}
.navbar-nav .open .dropdown-menu {
    background: #fff;
}

.open .dropdown-menu {
    z-index: 1000;
    opacity: 1;
    transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
}
/*--------------------------------------
*********** START HEADER ************
--------------------------------------*/
.tqnih-bg-body-home{
	background-image: url(images/bg-body-home.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
.tqnih-bg-body-home .tqniah-bg-color-home{
	background-color: rgba(39, 60, 16, 0.74);
}
#tqinah-counter{
    margin-top: 35px;
}
#tqinah-counter p{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
#tqinah-counter p span{}

/*--------------------------------------
*********** START SEARCH CONTENT ************
--------------------------------------*/
#tqniah-content-search{
	margin-top: 45px;
}
#tqniah-content-search .tqniah-search-form{}
#tqniah-content-search .tqniah-search-form form ul {
	text-align: center;
}


#tqniah-content-search .tqniah-search-form form ul li{
  color: #ffffff;
  display: inline-block;
  position: relative;
  height: 100px;
}

#tqniah-content-search .tqniah-search-form form ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

#tqniah-content-search .tqniah-search-form form ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 25px 30px 0px 25px;
  margin: 5px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

#tqniah-content-search .tqniah-search-form form ul li:hover label{
	color: #FFFFFF;
}

#tqniah-content-search .tqniah-search-form form ul li .check{
  display: block;
  position: absolute;
  border: 5px solid #ffffff;
  border-radius: 100%;
  height: 23px;
  width: 23px;
  top: 30px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}

#tqniah-content-search .tqniah-search-form form ul li:hover .check {
  border: 5px solid #FFFFFF;
}

#tqniah-content-search .tqniah-search-form form ul li .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 2px;
  left: 2px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

#tqniah-content-search .tqniah-search-form form input[type=radio]:checked ~ .check {
  border: 2px solid #ffffff;
}

#tqniah-content-search .tqniah-search-form form input[type=radio]:checked ~ .check::before{
  background: #8bc34a;
}

#tqniah-content-search .tqniah-search-form form input[type=radio]:checked ~ label{
  color: #8bc34a;
}
#tqniah-content-search .tqniah-search-form form .tqniah-search-input{
    position: relative;
    margin-top: -20px;
    padding: 0 210px;
}
#tqniah-content-search .tqniah-search-form form .tqniah-search-input input{
    height: 65px;
    border-radius: 40px;
    line-height: 65px;
    font-size: 18px;
    padding: 0 20px;
}
#tqniah-content-search .tqniah-search-form form .tqniah-search-input button{
    background-color: #7bb636;
    padding: 5px;
    position: absolute;
    width: 55px;
    height: 55px;
    line-height: 55px;
    top: 5px;
    box-shadow: 1px 1px 1px #ccc;
    border-radius: 50%;
    left: 219px;
}
#tqniah-content-search .tqniah-search-form form .tqniah-search-input button i{
    font-size: 27px;
    color: #fff;
}
.tqniah-downloads{
    text-align: center;
    margin-bottom: 60px;
}
.tqniah-downloads h3{
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
    font-weight: bolder;
    font-size: 26px;
    margin-top: 60px;
}
.tqniah-downloads a{
    margin: 5px;
    border-radius: 20px;
    width: 245px;
    display: inline-block;
}
.tqniah-downloads a img{
    padding: 5px;
    width: 100%;
}
.tqniah-downloads a:hover{
}
footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #87b34a;
  text-align: center;
}
footer h3{
	margin: 0;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
}
footer h3 img{
	height: 35px;
	margin: 0 5px;
}

/*--------------------------------------
********** START MAIN CATEGIRIES *******
--------------------------------------*/
.tqnih-bg-body-home-page{
	background-image: url(images/cat.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
.tqniah-bg-color-home-page{
	background-color: rgba(39, 60, 16, 0.65);
}
.tqniah-title-page{
    text-align: center;
    padding: 200px 0 250px 0;
}
.tqniah-title-page h1{
    margin: 0;
    color: #fff;
}
.tqniah-part-bg{
	background-image: url(images/cat2.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 120px;
}
#tqniah-content-cat .tqniah-categories-div .tqniah-single-categories{
    position: relative;
	overflow: hidden;
    margin-bottom: 30px;
}
#tqniah-content-cat .tqniah-categories-div .tqniah-single-categories a{
    text-decoration: none;
    color: #fff;
    overflow: hidden;
}
#tqniah-content-cat .tqniah-categories-div .tqniah-single-categories a img{
    width: 100%;
    border-radius: 15px;
    height: 390px;
}
#tqniah-content-cat .tqniah-categories-div .tqniah-single-categories a h4{
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
#tqniah-content-cat .tqniah-categories-div .tqniah-single-categories:hover a h4{
	top: 88%;
}
#tqniah-content-cat .tqniah-categories-div .tqniah-single-categories .tqniah-img-cat span:first-child{
	top: 0;
	position: absolute;
	right: 0px;
	bottom: 0px;
	border-radius: 15px;
	background-color: rgba(39, 60, 16, 0.63);
	height: 100%;
	width: 100%;
}
#tqniah-content-cat .tqniah-categories-div .tqniah-single-categories .tqniah-img-cat span:last-child{
	/* content: ''; */
	border-top: 360px solid rgba(181, 181, 181, 0.35);
	border-bottom: 0 solid rgba(255, 255, 255, 0);
	border-left: 352px solid rgba(204, 204, 204, 0);
	border-right: 0 solid rgba(255, 0, 0, 0);
	position: absolute;
	right: 0px;
	height: 100%;
	/* background-color: #000; */
	border-top-left-radius: 15px;
	width: 100%;
	top: 0;
	opacity: 0;
	transition: all 0.6s ease-in-out;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	transform: rotatey(180deg);
}
#tqniah-content-cat .tqniah-categories-div .tqniah-single-categories:hover .tqniah-img-cat span:last-child{
	opacity: 1;
	transform: rotatey(0deg);
}
#tqniah-content-cat{
	padding-bottom: 50px;
}

/*--------------------------------------
*********** START COFFEES ***********
--------------------------------------*/
.tqnih-bg-body-home-coffees{
	background-image: url(images/cafe.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
#tqniah-content-coffees{
	padding-bottom: 150px;
}
.tqniah-single-coffees{}
.tqniah-img-cafe{
    position: relative;
    overflow: hidden;
}
.tqniah-img-cafe img{
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: 300px;
}
.tqniah-img-cafe span.tqniah-discount{
    position: absolute;
    left: -19%;
    top: -27%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #8bc34a;
    color: #fff;
    font-size: 25px;
    text-align: center;
    padding-top: 111px;
    padding-left: 35px;
    font-weight: bold;
}
.tqniah-text-cafe{
    text-align: center;
}
.tqniah-text-cafe h4{
    color: #53811d;
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 2px;
    margin-top: 2px;
}
.tqniah-text-cafe p{
	color: #bbbbbb;
	/* border-top: 1px solid #f2f1f1; */
	font-size: 16px;
	padding: 2px;
	position: relative;
	margin: 0;
}
.tqniah-single-caffees{
    border: 1px solid #f5f5f5;
    box-shadow: 0px 0px 5px 1px #efefef;
    border-radius: 15px;
    overflow: hidden;
	margin:15px 0;
}
.tqniah-single-caffees:hover{
	box-shadow: 0px 0px 10px 1px #cacaca;
}
.tqniah-single-caffees:hover .tqniah-img-cafe img{
    transform: scale(1.1);
}
.tqniah-single-caffees:hover span.tqniah-discount{
	opacity: 0.8;
}
.tqniah-hidden-di{
    position: absolute;
    left: 0;
    font-weight: bold;
    color: #53811d;
    top: 0;
    background-color: #fff;
}
.tqniah-subtext-cafe{
	position: relative;
	padding: 0 50px;
}
.tqniah-hidden-di ul{
    list-style: none;
    margin: 0;
}
.tqniah-hidden-di a i{
	font-size: 30px;
	color: #53811d;
	cursor: pointer;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-right: 1px solid #f2f1ff;
}
.tqniah-hidden-di .dropdown-menu>li>a {
    display: block;
    padding: 20px;
    clear: both;
    font-weight: 400;
    line-height: 0;
    color: #53811d;
    white-space: nowrap;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
}
.tqniah-hidden-di .dropdown-menu-right {
    right: auto;
    left: 0px;
    bottom: 105%;
    text-align: center;
    top: auto;
    padding: 0;
    border: 1px solid #f5f5f5;
    box-shadow: 0px 0px 5px 1px #efefef;
}
/*--------------------------------------
*********** START DATAILS ***********
--------------------------------------*/
.tqniah-slide-datails #owl-demo2{
	direction: ltr;
}
.tqniah-slide-datails #owl-demo2 .item{
  margin: 0;
}
.tqniah-slide-datails #owl-demo2 .item img{
  display: block;
  width: 100%;
  height: 450px;
  border-radius: 20px !important;
}

.tqniah-slide-datails .owl-carousel.owl-drag .owl-item{
	transform: scale(1, 0.8);
	transform-origin: bottom;
}
.tqniah-slide-datails .owl-carousel.owl-drag  .center + .owl-item{
	transform: scale(1, 0.9);
	z-index: 1;
}
.tqniah-slide-datails .owl-carousel.owl-drag .owl-item.active + .owl-item.active:not(.center) {
	transform: scale(0.9, 0.7);
	z-index: 2;
}
.tqniah-slide-datails .owl-carousel.owl-drag .owl-item.center + .owl-item.active + .owl-item.active{
	transform: scale(1, 0.8);
	z-index: 1;
}
.tqniah-slide-datails .owl-carousel.owl-drag .center{
	transform: scale(1.1, 1);
	z-index: 10;
}
.tqniah-slide-datails .owl-carousel .owl-dots.disabled{
	display: block;
}
.tqniah-slide-datails .owl-nav .owl-prev{
    position: absolute;
    top: 55%;
    right: -1%;
    font-size: 40px;
    background-color: #dededa;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #24bae5;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
}
.tqniah-slide-datails .owl-nav .owl-next{
    position: absolute;
    top: 55%;
    left: -1%;
    font-size: 40px;
    background-color: #dededa;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #24bae5;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
}
.tqniah-slide-datails .owl-stage-outer{
	position: relative;
}
.tqniah-slide-datails .owl-carousel.owl-drag .owl-item{
	transform: scale(0.9, 0.7);
	transform-origin: center;
}
.tqniah-slide-datails .owl-carousel.owl-drag .center{
	transform: scale(1.7, 0.9);
	z-index: 10;
}

.tqniah-slide-datails .owl-carousel .owl-dot, .tqniah-slide-datails .owl-carousel .owl-nav .owl-next, .tqniah-slide-datails .owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 16px;
    width: 16px;
    margin: 2px;
    background: #76af35;
    border-radius: 50%;
    display: inline-block;
}
.tqniah-slide-datails .owl-dot.active{
	background-color: #8bc34a;
	transform: scale(1.2);
}
.tqniah-slide-datails .owl-dots {
    text-align: center;
}
.tqniah-slide-datails {
    padding-top: 50px;
}
/* ---------------------------CONTENT---------------------------- */
#tqniah-datail-content{
	padding: 0 0 100px 0;
}
#tqniah-datail-content .tqniah-map{
    overflow: hidden;
}
#tqniah-datail-content .tqniah-map .tqniah-img-map{
    width: 50%;
    float: right;
}
#tqniah-datail-content .tqniah-map .tqniah-img-map img{
    width: 100%;
    height: 360px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
#tqniah-datail-content .tqniah-map .tqniah-map-site{
    width: 50%;
    float: left;
}
#tqniah-datail-content .tqniah-map .tqniah-map-site #map {
	height: 360px;
	width: 100%;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
.tqniah-description-datails{
    overflow: hidden;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 6px 2px #ececec;
    border-radius: 20px;
    margin-top: 30px;
    padding: 20px 10px;
}
.tqniah-description-datails .top-desc-datails{
    border-bottom: 1px solid #ececec;
    overflow: hidden;
    padding-bottom: 5px;
}
.tqniah-description-datails .top-desc-datails h3{
    color: #9dc36e;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    margin-bottom: 10px;
}




tqniah-comments .rating .stars form{
    float: right;
}
tqniah-comments div.stars {
    overflow: hidden;
    text-align: left;
}

.tqniah-comments input.star {
	display: none; 
}

.tqniah-comments label.star {
	padding: 3px;
	font-size: 24px;
	color: #6c818b;
	transition: all 0.8s;
	/* float: left; */
}
input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 10px #9dc36e;
}

input.star-1:checked ~ label.star:before { color: #F62; }

.tqniah-comments label.star:hover {transform: rotate(-15deg) scale(1.3);}

.tqniah-comments label.star:before {
  content: "\f005";
  font-family: FontAwesome;
}
.tqniah-description-datails .top-desc-datails small{
    color: #9dc36e;
    font-weight: bold;
    font-size: 16px;
    float: right;
    margin-right: 28%;
    margin-top: 1%;
}
.top-desc-datails i{
	color: #ffdd44;
	font-size: 24px;
	margin: 0 2px;
	float: left;
}
.tqniah-description-datails p{
    color: #c7c7c7;
    font-weight: bold;
    text-align: justify;
    line-height: 32px;
    padding: 10px 15px;
}
.tqniah-menu-food{
    overflow: hidden;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 6px 2px #ececec;
    border-radius: 20px;
    margin-top: 30px;
    padding: 20px;
}
.tqniah-menu-food .tqniah-tab-content{}
.tqniah-menu-food .tqniah-tab-content{}
.tqniah-menu-food .tqniah-tab-content .tab-content{margin-top: 40px;}
.tqniah-menu-food .tqniah-tab-content h2 span{
    border-bottom: 3px solid #82b044;
}
.tqniah-menu-food .tqniah-tab-content h2{
    width: 48%;
    float: right;
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    color: #82b044;
    margin-top: -5px;
}
.tqniah-menu-food .tqniah-tab-content .nav-tabs{
    float: left;
}
.tqniah-menu-food .tqniah-tab-content .nav-tabs>li{
    outline: none;
    float: right;
}
.tqniah-menu-food .tqniah-tab-content .nav-tabs>li>a{
	color: #82b044;
	padding: 0 6px  6px 6px;
	outline: none;
	border: transparent;
	border-bottom: 2px solid transparent;
	font-weight: 500;
}
{}

.tqniah-menu-food .tqniah-tab-content .nav-tabs>li.active>a, .tqniah-menu-food .tqniah-tab-content .nav-tabs>li.active>a:focus, .tqniah-menu-food .tqniah-tab-content .nav-tabs>li.active>a:hover{
	border-bottom: 2px solid #82b044;
}
.tqniah-slide-menu #owl-demo3, .tqniah-slide-menu #owl-demo4, .tqniah-slide-menu #owl-demo5{
	direction: ltr;
}
.tqniah-slide-menu{}
.tqniah-slide-menu .tqniah-info-type{
    overflow: hidden;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 4px 1px #efefef;
    border-radius: 20px;
    margin-top: 30px;
    padding: 0;
    text-align: center;
    padding-bottom: 12px;
}
.tqniah-slide-menu .tqniah-info-type img{
    height: 185px;
}
.tqniah-slide-menu .tqniah-info-type h3{
    margin: 5px 0;
    color: #d2e1c1;
    font-size: 20px;
}
.tqniah-slide-menu .tqniah-info-type p{
    color: #88b44c;
    margin: 3px 0;
    font-weight: bolder;
    font-size: 18px;
}
.tqniah-slide-menu .owl-carousel .owl-dots.disabled, .tqniah-slide-menu .owl-carousel .owl-nav.disabled {
    display: block;
}
.tqniah-menu-food .owl-prev{
    position: absolute;
    right: 47%;
}
.tqniah-menu-food .owl-next{
    position: absolute;
    left: 47%;
}
.tqniah-menu-food .owl-prev i{
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    background-color: #8bc34a;
    font-size: 2em;
    border-radius: 50%;
}
.tqniah-menu-food .owl-next i{
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    background-color: #8bc34a;
    font-size: 2em;
    border-radius: 50%;
}
.tqniah-menu-food .owl-nav{
	padding: 30px;
}

/*--------------------------------------
*********** START COMMENTS ***********
--------------------------------------*/
.tqniah-comments{
    overflow: hidden;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 6px 2px #ececec;
    border-radius: 20px;
    margin-top: 30px;
    padding: 20px;
}
.tqniah-comments h2{
    width: 70%;
    float: right;
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    color: #82b044;
    margin-top: -5px;
}
.tqniah-comments h2 span{
    border-bottom: 3px solid;
}
.tqniah-comments .tqniah-rating{
    float: left;
    width: 30%;
    text-align: left;
}
.tqniah-form-show{
    margin-top: 60px;
}
.tqniah-form-show .tqniah-single-comment{
    overflow: hidden;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 6px 2px #ececec;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px;
}
.tqniah-form-show .tqniah-single-comment h5 span{
    background-color: #8bc34a;
    width: 100px;
    display: block;
    color: #fff;
    height: 100px;
    line-height: 90px;
    text-align: center;
    font-size: 40px;
    border-radius: 50%;
    font-weight: bold;
}
.tqniah-form-show .tqniah-single-comment h5{
    width: 12%;
    float: right;
}
.tqniah-form-show .tqniah-single-comment .tqniah-content-comment{
    width: 88%;
    float: left;
}
.tqniah-form-show .tqniah-single-comment .tqniah-content-comment h3{
    color: #8bc34a;
    font-size: 20px;
    font-weight: bold;
}
.tqniah-form-show .tqniah-single-comment .tqniah-content-comment p{
    color: #c7c7c7;
    font-weight: bold;
    text-align: justify;
    line-height: 24px;
    padding: 0 15px;
}
.tqniah-comment-form{
    margin-top: 50px;
    padding-top: 30px;
    border-top: 1px solid #ececec;
}

.tqniah-comment-form input{
    border: 1px solid #ececec;
    box-shadow: 0px 0px 6px 2px #ececec;
    border-radius: 12px;
    margin-top: 20px;
    padding: 10px;
    height: 50px;
    line-height: 50px;
    width: 49%;
    float: right;
}
.tqniah-comment-form input:nth-child(2){
	float: left;
}
.tqniah-comment-form input:last-child{
    background-color: #87b34a;
    padding: 0;
    width: 20%;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    height: 60px;
}
.tqniah-comment-form textarea{
    border: 1px solid #ececec;
    box-shadow: 0px 0px 6px 2px #ececec;
    border-radius: 12px;
    margin-top: 20px;
    padding: 10px;
}
/*--------------------------------------
*********** START MEDIA ***********
--------------------------------------*/

@media (max-width: 767px) {
.navbar-toggle {
    color: #fff;
    margin: 35px 0px 0 0px;
}
.navbar-brand img {
	height: 60px;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    border-radius: 1px;
    background-color: #fff;
}
#tqinah-counter {
    margin-top: 5px;
    text-align: center;
}
.col-xs-12{
	padding: 0;	
}
.navbar-nav {
    text-align: center;
}
.tqniah-navbar .nav>li {
    border-bottom: 1px solid #dadada;
    padding-bottom: 5px;
    padding-top: 5px;
}
#tqniah-content-search {
    margin-top: 50px;
}
.Tqniah-title-font h1 {
    line-height: 48px;
}
#tqniah-content-search .tqniah-search-form form ul li label {
    padding: 25px 30px 0px 5px;
}
#tqniah-content-search .tqniah-search-form form .tqniah-search-input {
    padding: 0;
}
#tqniah-content-search .tqniah-search-form form .tqniah-search-input button {
    left: 2%;
}
#tqniah-content-search .tqniah-search-form form .tqniah-search-input input {
    padding: 0 20px 0 65px;
}
.tqniah-downloads h3 {
	margin-top: 30px;
    line-height: 35px;
}
.tqniah-downloads a {
    padding: 0;
    width: 60%;
}
.tqniah-downloads a img{
	width: 100%;
}
.tqniah-downloads {
    text-align: center;
    padding-bottom: 75px;
}
footer h3 {
    font-size: 16px;
}
footer h3 img {
    height: 40px;
}
#tqniah-content-cat .tqniah-categories-div .tqniah-single-categories {
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}
.tqniah-title-page {
    padding: 200px 0 150px 0;
}
.tqniah-slide-datails .owl-carousel.owl-drag .center {
    transform: scale(1, 1);
}
#tqniah-datail-content .tqniah-map .tqniah-map-site {
    width: 100%;
    margin-top: 10px;
}
#tqniah-datail-content .tqniah-map .tqniah-map-site #map {
    border-radius: 20px;
}
.tqniah-description-datails .top-desc-datails small {
    margin-right: 30%;
}
.tqniah-menu-food .tqniah-tab-content h2 {
    width: 100%;
    float: none;
    text-align: center;
}
.tqniah-menu-food .tqniah-tab-content .nav-tabs {
    float: none;
    margin-top: 25px;
}
.tqniah-menu-food .tqniah-tab-content .nav-tabs>li {
    width: 50%;
    margin-bottom: 10px;
}
.tqniah-menu-food .owl-prev {
    position: absolute;
    right: 36%;
}
.tqniah-menu-food .owl-next {
	position: absolute;
	left: 36%;
}
.tqniah-comments h2 {
    width: 100%;
    float: none;
    text-align: center;
	margin-bottom: 40px;

}
.tqniah-comments .tqniah-rating {
    float: none;
    width: 100%;
    text-align: center;
}
.tqniah-form-show .tqniah-single-comment h5 span {
    display: inline-block;
}
.tqniah-form-show .tqniah-single-comment h5 {
    width: 100%;
    float: none;
    text-align: center;
}
.tqniah-form-show .tqniah-single-comment .tqniah-content-comment p {
    padding: 0;
}
.tqniah-form-show .tqniah-single-comment .tqniah-content-comment {
    width: 100%;
    float: none;
    text-align: center;
}
.tqniah-comment-form input {
    margin-top: 0;
    float: none;
	width: 100%;
}
.tqniah-comment-form input:last-child {
    background-color: #87b34a;
    padding: 0;
    width: 100%;
}
.tqniah-slide-datails .owl-dots {
    text-align: center;
    margin-top: 20px;
}
#tqniah-content-cat .tqniah-categories-div .tqniah-single-categories .tqniah-img-cat span:last-child {
    border-left: 500px solid rgba(204, 204, 204, 0);
   
}
}
@media (min-width: 767px) {

    .text-align-right {
        text-align: right;
    }

    .text-align-left {
        text-align: left;
    }

    .fadeInLeft {
        -webkit-animation-name: fadeInLeft;
        animation-name: fadeInLeft;
    }

    .fadeInRight {
        -webkit-animation-name: fadeInRight;
        animation-name: fadeInRight;
    }

    .navbar-nav > li, .navbar-header {
        float: right;
    }

    .dropdown-menu {
        text-align: right;
        display: block;
    }
	.navbar-nav {
    float: right;
    margin-right: 20px;
    margin-top: 30px;
}
	.navbar-toggle {
    padding: 0;
    color: #ffffff;
    margin: 12% 15px 0 15px;
    float: left;
    font-size: 20px;
}

}

@media screen and (min-width : 768px) and (max-width : 1024px){
.nav > li > a {
    margin: 10px 0;
    padding: 8px;
}
.navbar-nav {
    margin-right: 30px;
	margin-top: 10px;
}
.tqniah-animate.wow.animate.slideInUp {
    padding: 5px;
}
.tqniah-categories-div {
    margin-top: 20px;
}
.tqniah-navbar .nav>li {
    border-bottom: 0;
    padding-bottom: 5px;
    padding-top: 0;
}
.navbar-nav {
    margin-top: 15px;
}
#tqinah-counter p {
    font-size: 16px;
}
#tqniah-content-search .tqniah-search-form form .tqniah-search-input {
    padding: 0;
}
#tqniah-content-search .tqniah-search-form form .tqniah-search-input button {
    left: 2%;
}
.tqniah-form-show .tqniah-single-comment h5 {
    width: 18%;
    float: right;
}
.tqniah-form-show .tqniah-single-comment .tqniah-content-comment {
    width: 82%;
    float: left;
}
.tqniah-menu-food .owl-next {
    left: 43%;
}
}
@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media screen and (min-width : 992px) and (max-width : 1024px){
.navbar-nav {
    margin-right: 30px;
}
}

















.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 7.33333em;
  height: 7.33333em;
  margin-left: -3.66667em;
  margin-top: -3.66667em;
}

.loader-block {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  opacity: 0;
  width: 2em;
  height: 2em;
  background: #82b044;
  -webkit-animation: show 0.88s step-end infinite alternate, pulse 0.88s linear infinite alternate;
  animation: show 0.88s step-end infinite alternate, pulse 0.88s linear infinite alternate;
  border-radius: 5px;
}

.loader-block:nth-child(1) {
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-animation-delay: 0.065s;
  animation-delay: 0.065s;
}

.loader-block:nth-child(2) {
  -moz-transform: translate(2.66667em, 0);
  -ms-transform: translate(2.66667em, 0);
  -webkit-transform: translate(2.66667em, 0);
  transform: translate(2.66667em, 0);
  -webkit-animation-delay: 0.13s;
  animation-delay: 0.13s;
}

.loader-block:nth-child(3) {
  -moz-transform: translate(5.33333em, 0);
  -ms-transform: translate(5.33333em, 0);
  -webkit-transform: translate(5.33333em, 0);
  transform: translate(5.33333em, 0);
  -webkit-animation-delay: 0.195s;
  animation-delay: 0.195s;
}

.loader-block:nth-child(4) {
  -moz-transform: translate(0, 2.66667em);
  -ms-transform: translate(0, 2.66667em);
  -webkit-transform: translate(0, 2.66667em);
  transform: translate(0, 2.66667em);
  -webkit-animation-delay: 0.325s;
  animation-delay: 0.325s;
}

.loader-block:nth-child(5) {
  -moz-transform: translate(2.66667em, 2.66667em);
  -ms-transform: translate(2.66667em, 2.66667em);
  -webkit-transform: translate(2.66667em, 2.66667em);
  transform: translate(2.66667em, 2.66667em);
  -webkit-animation-delay: 0.13s;
  animation-delay: 0.13s;
}

.loader-block:nth-child(6) {
  -moz-transform: translate(5.33333em, 2.66667em);
  -ms-transform: translate(5.33333em, 2.66667em);
  -webkit-transform: translate(5.33333em, 2.66667em);
  transform: translate(5.33333em, 2.66667em);
  -webkit-animation-delay: 0.455s;
  animation-delay: 0.455s;
}

.loader-block:nth-child(7) {
  -moz-transform: translate(0, 5.33333em);
  -ms-transform: translate(0, 5.33333em);
  -webkit-transform: translate(0, 5.33333em);
  transform: translate(0, 5.33333em);
  -webkit-animation-delay: 0.39s;
  animation-delay: 0.39s;
}

.loader-block:nth-child(8) {
  -moz-transform: translate(2.66667em, 5.33333em);
  -ms-transform: translate(2.66667em, 5.33333em);
  -webkit-transform: translate(2.66667em, 5.33333em);
  transform: translate(2.66667em, 5.33333em);
  -webkit-animation-delay: 0.26s;
  animation-delay: 0.26s;
}

.loader-block:nth-child(9) {
  -moz-transform: translate(5.33333em, 5.33333em);
  -ms-transform: translate(5.33333em, 5.33333em);
  -webkit-transform: translate(5.33333em, 5.33333em);
  transform: translate(5.33333em, 5.33333em);
}

@-webkit-keyframes pulse {
  from,
  40% {
    background: #fdfdfd;
  }
  to {
    background: #dadada;
  }
}
@-webkit-keyframes show {
  from, 40% {
    opacity: 0;
  }
  41%, to {
    opacity: 1;
  }
}
@keyframes pulse {
  from,
  40% {
    background: #fdfdfd;
  }
  to {
    background: #dadada;
  }
}
@keyframes show {
  from, 40% {
    opacity: 0;
  }
  41%, to {
    opacity: 1;
  }
}
/* Body styling */
/* Body styling */
.nav-tqniah nav{overflow: hidden;padding: 0px;}
.nav-tqniah nav ul{
    list-style: none;
    float: right;
    margin: 0;
    margin-top: 30px;
}
.nav-tqniah nav ul li{
    display: inline-block;
}
.nav-tqniah nav ul li a{
    padding: 10px;
    color: #fff;
	font-size: 16px;
	font-weight: bold;
}
.nav-tqniah nav button span{
	height: 5px;
    width: 30px;
    background-color: #000;
    display: block;
    margin-bottom: 2px;
}
.nav-tqniah nav ul li a:hover, .nav-tqniah nav ul li.active a{
	color: #8bc34a;
	border-color: #fff;
	border-radius: 0;
}

.tqniah-logo-site{
	 float: right;
	 height: auto;
	 padding: 10px;
}
.tqniah-logo-site img {
    height: 70px;
}
@media (max-width: 767px) {
.nav-tqniah nav ul{
    list-style: none;
    padding: 0;
    float: none;
}
.nav-tqniah nav ul li{
    display: block;
	border-bottom: 1px solid #0b102d;
    
}
.nav-tqniah nav ul li:last-child{
	border-bottom: 0;	
}
.nav-tqniah nav ul li a{
    display: block;
	padding: 12px 8px;
}
.nav-tqniah nav ul li:hover,
.nav-tqniah nav ul li:focus,
.nav-tqniah nav ul li:active{
	background-color: #6a9538;
}
.nav-tqniah nav ul li a:hover, .nav-tqniah nav ul li.active a{
	color: #fff;
	background-color: #8bc34a;
}
.nav-tqniah nav button{
    float: left;
    margin: 30px;
}
.nav-tqniah nav button span{
	height: 3px;
	width: 30px;
	background-color: #fff;
	margin-bottom: 2px;
	margin-bottom: 5px;
}
	
.nav-tqniah-list-item{
    background-color: #03010c;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999999999999999;
    max-width: 320px;
    width: 320px;
    right: -400px;
    box-shadow: 1px 1px 15px #7d7d7d;
}
.tqniah-overlay-hidden{
	width: 100%;
    height: 100%;
    background-color: #0000003d;
    position: absolute;
    top: 0;
    z-index: 9999999;	
}
.tqniah-div-programmers .tqniah-single-programmer{
    margin-bottom:155px;
}
}
@media screen and (min-width : 768px) and (max-width : 1024px){

.nav-tqniah nav button span{
	height: 5px;
    width: 30px;
    background-color: #000;
    display: block;
    margin-bottom: 2px;
}
}

.tqniah-div-programmers .tqniah-single-programmer{
    text-align: center;
    width: 300px;
    height: 300px;
    margin: 0 20px;
    margin-bottom: 122px;
    position: relative;
}
.tqniah-div-programmers .tqniah-single-programmer .img-pro {
    text-align: center;
    box-shadow: 0px 0px 20px 5px #f0f0f0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    padding: 10px;
    padding-bottom: 0;
		transition: all 0.8s ease-in-out;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-ms-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	
}

.tqniah-div-programmers .tqniah-single-programmer .img-pro img{
    width: 79%;
    height: 100%;
		transition: all 0.8s ease-in-out;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-ms-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	
	
}
.tqniah-div-programmers .tqniah-single-programmer .img-pro img:last-child{
	z-index: 99999999999;
	position: absolute;
	top: 3%;
	left: 0;
	opacity: 0;
	right: 13%;
	width: 221.19px;
	height: 290px;
	transition: all 0.6s ease-in-out;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-ms-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
}
.tqniah-div-programmers .tqniah-single-programmer .img-pro:hover img:last-child,
.tqniah-div-programmers .tqniah-single-programmer .img-pro:focus img:last-child,
.tqniah-div-programmers .tqniah-single-programmer .img-pro:active img:last-child
{
	opacity: 1;	
}
.tqniah-div-programmers .tqniah-single-programmer .img-pro:hover,
.tqniah-div-programmers .tqniah-single-programmer .img-pro:focus,
.tqniah-div-programmers .tqniah-single-programmer .img-pro:active
{
	background-color: #8bc34a;
}
.tqniah-div-programmers .tqniah-single-programmer h3{
    font-weight: bold;
    color: #4a831b;
}
.tqniah-div-programmers .tqniah-single-programmer h4{
    font-weight: bold;
    color: #b7b7b7;
}
.tqniah-div-programmers ul{
    list-style: none;
    text-align: center;
}
.tqniah-div-programmers ul li{
    display: inline-block;
}
.tqniah-div-programmers .tqniah-single-programmer .hidden-div-social{
	position: absolute;
	top: 5px;
	padding: 5px;
	width: 100%;
	background-color: #8bc34a;
	opacity: 0;
	border-radius: 15px;
	z-index: 1;
	left: 0;
    right: 0;
}
.tqniah-div-programmers .tqniah-single-programmer .hidden-div-social:after{
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 20px 14px 0;
    border-color: transparent #8bc34a transparent transparent;
    z-index: 1;
}
.tqniah-div-programmers .tqniah-single-programmer .hidden-div-social ul {
}
.tqniah-div-programmers .tqniah-single-programmer .hidden-div-social ul li{}
.tqniah-div-programmers .tqniah-single-programmer .hidden-div-social ul li a{
    color: #fff;
    display: block;
    width: 60px;
    font-size: 24px;
    font-weight: bold;
}
.tqniah-div-programmers .tqniah-single-programmer .hidden-div-social ul li a i{
    
	width: 100%;
	height: 25px;
}

.tqniah-div-programmers .tqniah-single-programmer:hover .hidden-div-social{
	opacity: 1;
	top: -75px;
}
.tqniah-div-programmers .tqniah-single-programmer .hidden-div-social i.fa.fa-linkedin{
	background-color: #0077b5;
}
.tqniah-div-programmers .tqniah-single-programmer .hidden-div-social i.fa.fa-instagram {
    background-color: #262626;
}
.tqniah-div-programmers .tqniah-single-programmer .hidden-div-social i.fa.fa-twitter {
    background-color: #1da1f2;
}
.tqniah-div-programmers .tqniah-single-programmer .hidden-div-social i.fa.fa-facebook {
    background-color: #4267b2;
}
@media (max-width: 767px) {
	.tqniah-div-programmers .tqniah-single-programmer {
		margin: 0;
		margin-bottom: 120px;
		padding: 25px;
	}
.tqniah-div-programmers .tqniah-single-programmer .img-pro img:last-child {
    top: 4%;
    left: 0;
    right: 14%;
    width: 181.69px;
    height: 240px;

}
.tqniah-div-programmers .tqniah-single-programmer:hover .hidden-div-social{
    top:-55px;
}
}
